<div class="analytics">
  @if (loading()) {
    @for (i of [1,2,3,4]; track i) {
      <div class="analytics__card"><p-skeleton height="200px" borderRadius="12px" /></div>
    }
  } @else if (analytics()) {
    <div class="analytics__card">
      <h4><i class="pi pi-chart-line"></i> Sales Trend</h4>
      <div class="analytics__chart"><p-chart type="line" [data]="toLineChart(analytics()!.salesTrend)!" [options]="lineOpts" /></div>
    </div>
    <div class="analytics__card">
      <h4><i class="pi pi-users"></i> Top Customers</h4>
      <div class="analytics__chart"><p-chart type="bar" [data]="toChart(analytics()!.topCustomers)!" [options]="barOpts" /></div>
    </div>
    <div class="analytics__card">
      <h4><i class="pi pi-tags"></i> Top Categories</h4>
      <div class="analytics__chart"><p-chart type="bar" [data]="toChart(analytics()!.topCategories)!" [options]="barOpts" /></div>
    </div>
    <div class="analytics__card">
      <h4><i class="pi pi-gem"></i> Top Materials</h4>
      <div class="analytics__chart"><p-chart type="bar" [data]="toChart(analytics()!.topMaterials)!" [options]="barOpts" /></div>
    </div>
    <div class="analytics__card">
      <h4><i class="pi pi-user"></i> Top Designers</h4>
      <div class="analytics__chart"><p-chart type="bar" [data]="toChart(analytics()!.topDesigners)!" [options]="barOpts" /></div>
    </div>
    <div class="analytics__card">
      <h4><i class="pi pi-arrows-h"></i> Stock Movement</h4>
      <div class="analytics__chart"><p-chart type="line" [data]="toLineChart(analytics()!.stockMovement)!" [options]="lineOpts" /></div>
    </div>
    <div class="analytics__card">
      <h4><i class="pi pi-cog"></i> Monthly Production</h4>
      <div class="analytics__chart"><p-chart type="bar" [data]="toChart(analytics()!.monthlyProduction)!" [options]="barOpts" /></div>
    </div>
    <div class="analytics__card">
      <h4><i class="pi pi-inbox"></i> Pending Orders</h4>
      <div class="analytics__chart"><p-chart type="bar" [data]="toChart(analytics()!.pendingOrders)!" [options]="barOpts" /></div>
    </div>
  }
</div>
