<div class="chart-panel">
  <div class="chart-panel__card">
    <div class="chart-panel__header">
      <i class="pi pi-chart-pie"></i>
      <h4>Status Distribution</h4>
    </div>
    <div class="chart-panel__body chart-panel__body--donut">
      @if (loading()) {
        <div class="chart-panel__loading">
          <i class="pi pi-spin pi-spinner"></i>
        </div>
      } @else if (donutData()) {
        <p-chart type="doughnut" [data]="donutData()!" [options]="donutOptions" />
      } @else {
        <div class="chart-panel__empty">No data available</div>
      }
    </div>
  </div>

  <div class="chart-panel__card">
    <div class="chart-panel__header">
      <i class="pi pi-chart-bar"></i>
      <h4>Top Categories</h4>
    </div>
    <div class="chart-panel__body">
      @if (loading()) {
        <div class="chart-panel__loading">
          <i class="pi pi-spin pi-spinner"></i>
        </div>
      } @else if (categoryBarData()) {
        <p-chart type="bar" [data]="categoryBarData()!" [options]="barOptions" />
      } @else {
        <div class="chart-panel__empty">No data available</div>
      }
    </div>
  </div>

  <div class="chart-panel__card">
    <div class="chart-panel__header">
      <i class="pi pi-users"></i>
      <h4>Top Customers</h4>
    </div>
    <div class="chart-panel__body">
      @if (loading()) {
        <div class="chart-panel__loading">
          <i class="pi pi-spin pi-spinner"></i>
        </div>
      } @else if (customerBarData()) {
        <p-chart type="bar" [data]="customerBarData()!" [options]="barOptions" />
      } @else {
        <div class="chart-panel__empty">No data available</div>
      }
    </div>
  </div>

  <div class="chart-panel__card">
    <div class="chart-panel__header">
      <i class="pi pi-box"></i>
      <h4>Most Created Designs</h4>
    </div>
    <div class="chart-panel__body">
      @if (loading()) {
        <div class="chart-panel__loading">
          <i class="pi pi-spin pi-spinner"></i>
        </div>
      } @else if (createdBarData()) {
        <p-chart type="bar" [data]="createdBarData()!" [options]="barOptions" />
      } @else {
        <div class="chart-panel__empty">No data available</div>
      }
    </div>
  </div>
</div>
